$select-width: 20em;

div.select {
  * {
    box-sizing: border-box;
  }

  div.selector {
    user-select: none;
    border: 2px solid #888;
    border-radius: 4px;
    background-color: #eee;
    width: $select-width;
    padding: 0.3em 0.6em;
    font-weight: bold;
    &:after {
      content: "▼";
      font-size: 100%;
      text-align: right;
      float: right;
    }
    &:hover {
      background-color: #fff;
      transition: 0.3s;
      position: relative;
      top: 1px;
    }
  }

  div.selector.open {
    &:after {
      content: "▲";
    }
  }

  div.optionsContainer {
    position: relative;

    div.options {
      position: absolute;
      top: -2px;
      left: 0px;
      border: 2px solid #888;
      border-radius: 4px;
      width: $select-width;
      background-color: #eee;
    }

    div.option {
      user-select: none;
      background-color: white;
      border-bottom: 1px solid #eee;
      // TODO: use grid instead of flex
      display: flex;

      &:hover {
        background-color: #eee;
        position: relative;
        left: 1px;
      }

      & > div {
        padding: 4px 10px;

        // TODO: if component is to be generic, this logic should be injected
        &.size {
          font-weight: bold;
          width: 3em;
        }
        &.qty {
          flex-grow: 1;
          text-align: center;
        }
        &.price {
          color: red;
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }
}
